/* lora-regular - latin_latin-ext */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: normal;
    src: local('Lora Regular'), local('Lora-Regular'),
    url('../webfonts/lora/lora-v12-latin_latin-ext-regular.woff2') format('woff2');
}
/* lora-italic - latin_latin-ext */
@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: normal;
    src: local('Lora Italic'), local('Lora-Italic'),
    url('../webfonts/lora/lora-v12-latin_latin-ext-italic.woff2') format('woff2');
}
/* lora-bold - latin_latin-ext */
@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: bold;
    src: local('Lora Bold'), local('Lora-Bold'),
    url('../webfonts/lora/lora-v12-latin_latin-ext-700.woff2') format('woff2');
}
/* lora-bold italic - latin_latin-ext */
@font-face {
    font-family: 'Lora';
    font-style: italic;
    font-weight: bold;
    src: local('Lora Bold Italic'), local('Lora-BoldItalic'),
    url('../webfonts/lora/lora-v12-latin_latin-ext-700italic.woff2') format('woff2');
}
/* yanone-kaffeesatz-regular - latin-ext_latin */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: normal;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'),
    url('../webfonts/yanone-kaffeesatz/yanone-kaffeesatz-v9-latin-ext_latin-regular.woff2') format('woff2');
}
/* yanone-kaffeesatz-bold - latin-ext_latin */
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: bold;
    src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'),
    url('../webfonts/yanone-kaffeesatz/yanone-kaffeesatz-v9-latin-ext_latin-700.woff2') format('woff2');
}
@font-face {
    font-family: "DejaVu Sans Mono";
    font-style: normal;
    font-weight: normal;
    src: local("DejaVu Sans Mono for Powerline"),
    url('../webfonts/dejavu/DejaVuSansMono.woff2') format("woff2");
}
@font-face {
    font-family: "DejaVu Sans Mono";
    font-style: normal;
    font-weight: bold;
    src: local("DejaVu Sans Mono for Powerline"),
    url('../webfonts/dejavu/DejaVuSansMono-Bold.woff2') format("woff2");
}
